pipeline/pl_data_ingestion_sep_files.json
{
	"name": "pl_data_ingestion_sep_files",
	"properties": {
		"activities": [
			{
				"name": "pit_stops",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ingestion results file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/kalukherushabh99999@gmail.com/Databricks-course/formula-1/ingestion/6.ingest_pit_stops_file",
					"baseParameters": {
						"p_data_source": {
							"value": "@variables('v_data_source')",
							"type": "Expression"
						},
						"p_file_date": {
							"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyy-MM-dd')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_dataBricks_workspace_formula",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ingestion circuits file",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/kalukherushabh99999@gmail.com/Databricks-course/formula-1/ingestion/1.ingest_circuits_file",
					"baseParameters": {
						"p_data_source": {
							"value": "@variables('v_data_source')",
							"type": "Expression"
						},
						"p_file_date": {
							"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyy-MM-dd')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_dataBricks_workspace_formula",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ingestion races file",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ingestion circuits file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/kalukherushabh99999@gmail.com/Databricks-course/formula-1/ingestion/2.ingest_races_file",
					"baseParameters": {
						"p_data_source": {
							"value": "@variables('v_data_source')",
							"type": "Expression"
						},
						"p_file_date": {
							"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyy-MM-dd')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_dataBricks_workspace_formula",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ingestion contructors file",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ingestion races file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/kalukherushabh99999@gmail.com/Databricks-course/formula-1/ingestion/3.ingest_constructors_file",
					"baseParameters": {
						"p_data_source": {
							"value": "@variables('v_data_source')",
							"type": "Expression"
						},
						"p_file_date": {
							"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyy-MM-dd')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_dataBricks_workspace_formula",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ingestion drivers file",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ingestion contructors file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/kalukherushabh99999@gmail.com/Databricks-course/formula-1/ingestion/4.ingest_drivers_file",
					"baseParameters": {
						"p_data_source": {
							"value": "@variables('v_data_source')",
							"type": "Expression"
						},
						"p_file_date": {
							"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyy-MM-dd')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_dataBricks_workspace_formula",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ingestion results file",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ingestion drivers file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/kalukherushabh99999@gmail.com/Databricks-course/formula-1/ingestion/5.ingest_results_file",
					"baseParameters": {
						"p_data_source": {
							"value": "@variables('v_data_source')",
							"type": "Expression"
						},
						"p_file_date": {
							"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyy-MM-dd')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_dataBricks_workspace_formula",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ingestion lap_times file",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "pit_stops",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/kalukherushabh99999@gmail.com/Databricks-course/formula-1/ingestion/7.ingest_lap_times_file",
					"baseParameters": {
						"p_data_source": {
							"value": "@variables('v_data_source')",
							"type": "Expression"
						},
						"p_file_date": {
							"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyy-MM-dd')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_dataBricks_workspace_formula",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ingestion qualifying file",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ingestion lap_times file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/kalukherushabh99999@gmail.com/Databricks-course/formula-1/ingestion/8.ingest_qualifying_file",
					"baseParameters": {
						"p_data_source": {
							"value": "@variables('v_data_source')",
							"type": "Expression"
						},
						"p_file_date": {
							"value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyy-MM-dd')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_dataBricks_workspace_formula",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"p_window_end_date": {
				"type": "string"
			}
		},
		"variables": {
			"v_data_source": {
				"type": "String",
				"defaultValue": "ergast"
			}
		},
		"folder": {
			"name": "data ingestion"
		},
		"annotations": []
	}
}